
<h2 class="title">{{ 'edit' | translate }} {{ customer.name }}</h2>
<form (ngSubmit)="onModify()" [formGroup]="customerGroup">
  <div class="form-group">
    <label for="name">{{ 'name' | translate}}</label>
    <input
    [(ngModel)]="customer.name" type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
  </div>
  <p *ngIf="nameCtrl.dirty && nameCtrl.hasError('notContaining')">Name not containing A</p>
  <div class="form-group">
    <label for="address">{{ 'address' | translate }}</label>
    <input [(ngModel)]="customer.address.street" type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
  </div>
  <div class="form-group">
    <label for="city">{{ 'city' | translate }}</label>
    <input [(ngModel)]="customer.address.city" type="text" class="form-control" id="city" placeholder="City" formControlName="city">
  </div>
  <button type="submit" class="btn btn-primary">{{ 'modify' | translate }}</button>
</form>
